# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
disabled

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/main/java/zabi/minecraft/extraalchemy/items/ItemSupporterMedal.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
